<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59522788395-5jii3t1r3repvobfja1d4avrmaktm7en.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59522788395-5jii3t1r3repvobfja1d4avrmaktm7en</string>
	<key>API_KEY</key>
	<string>AIzaSyAMWNEBoskFAL04b4o5y-_xDP8QKFtQM98</string>
	<key>GCM_SENDER_ID</key>
	<string>59522788395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactjs.native.example.Attendezz</string>
	<key>PROJECT_ID</key>
	<string>attendezz</string>
	<key>STORAGE_BUCKET</key>
	<string>attendezz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59522788395:ios:a0683311d437f3b1708e6e</string>
</dict>
</plist>